/* Загальні властивості */
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/* Colors */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* Header, text */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Lists */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

/* Images */
img {
  display: block;
}

/* Links */
a {
  text-decoration: none;
  color: #2e2f42;
}

address {
  font-style: normal;
}

/* Common */
.benefits-hidden-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */
.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-cont {
  display: flex;
  align-items: center;
}

/* Header Nav */
.header-nav {
  display: flex;
  align-items: center;
}

/* Logo Header */
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

/* UL Nav */
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* LI Nav */
.nav-list .nav-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
}

/* Contacts Box */
.contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  margin-left: auto;
}

/* LI Cont */
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Links */
.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

/* A Cont */
.contacts-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover */
.nav-link:hover,
.contacts-link:hover,
.nav-link.current {
  color: #404bbf;
}

/* Focus */
.nav-link:focus,
.contacts-link:focus {
  color: #404bbf;
}

/* Active */
.nav-link:active {
  text-decoration: underline;
  color: #404bbf;
}

/* Section 1 */
.text-button-box {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 188px 0;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.text-button-box>.container {
  display: block;
}

/* h1 */
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

/* Button */
.order-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  text-align: center;
  outline: none;
  background-color: #4d5ae5;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  flex-direction: row;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover */
.order-button:hover {
  background-color: #404bbf;
}

/* Focus */
.order-button:focus {
  background-color: #404bbf;
}

/* Section 2 */
.benefits {
  background-color: #ffffff;
  padding: 120px 0;
}

/* UL Benefits */
.benefits-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

/* LI Benefits */
.benefits-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

/* SVG (div) */
.benefits-icon {
  display: flex;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

/* h3 Benefits */
.benefits-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* p Benefits */
.benefits-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3*/
.our-team-box {
  display: block;
  background-color: #f4f4fd;
  padding: 120px 0;
  height: 732px;
  padding-left: 15px;
  padding-right: 15px;
}

/* h2 Team */
.team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* ul Team */
.team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

/* li Team */
.team-item {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* SVG (div) */
.team-list .team-name {
  border-bottom: 1px solid var(#e7e9fc);
  border-left: 1px solid var(#e7e9fc);
  border-right: 1px solid var(#e7e9fc);
  padding: 32px 0;
  max-width: 1440px;
}

/* h3 Team */
.team-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* p Team */
.team-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ul Socials */
.team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

/* a Socials */
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover */
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* Section 4 */
.portfolio {
  background-color: #ffffff;
  padding: 120px 0;
}

/* h2 Portfolio */
.portfolio-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* ul Portfolio */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/* li Portfolio */
.portfolio-item {
  width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* SVG (div) */
.portfolio-svg {
  position: relative;
  overflow: hidden;
}

/* Overlay */
.text-overlay {
  padding: 40px 32px;
  display: block;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .text-overlay {
  transform: translateY(0);
}

.portfolio-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/* SVG (div) */
.portfolio-list .portfolio-card {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

/* h3 Portfolio */
.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #ffffff;
  margin-bottom: 8px;
}

/* p Portfolio */
.portfolio-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

/* Footer (div) */
.footer-one {
  margin-right: 120px;
}

/* Logo Footer */
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

/* р Footer */
.footer-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* p2 Footer */
.footer-social-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

/* UL Soc Links Footer */
.footer-social-list {
  display: flex;
  gap: 16px;
}

/* LI Soc Links Footer */
.icons-items {
  width: 40px;
  height: 40px;
}

/* a Soc Links Footer */
.items-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* SVG Footer */
.footer-social-icons {
  fill: #f4f4fd;
}

/* Color Change Footer */
.items-link:hover,
.items-link:focus {
  background-color: #31d0aa;
}